<section class="py-16">
  <div class="container xl:w-[95%]">

  
    <div class="mb-3 mx-auto w-1/2 flex justify-center">
      <input type="search" id="search" class="main-input mb-3" placeholder="search for a product" 
      [(ngModel)]="text"/>
    </div>
    














    <div class="parent grid gap-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">

      @for (product of productList() | paginate:paginate |search:text; track product._id) {

        <div class="card flex flex-col justify-between h-full group/card overflow-hidden">

         <div
  class="cursor-pointer"
  [routerLink]="['/main/details', product._id]"
>

          
            <img
              [src]="product.imageCover"
              [alt]="product.title"
            />

            <h3 class="text-sm text-gray-300">
              {{ product.category.name }}
            </h3>

            <h4 class="text-lg pb-2">
              {{ product.title | uppercase}}
            </h4>
          </div>

          <div class="flex flex-wrap items-center justify-between pb-4">
            <span>{{ product.price }} EGP</span>

            <span>
              <i class="fas fa-star text-yellow-500"></i>
              {{ product.ratingsAverage }}
            </span>
          </div>

          <button (click)="AddProductItemtocart(product._id)"
            class="btn-main w-full translate-y-[120%] group-hover/card:translate-y-0 transition-transform duration-500"
          >
            Add to cart
          </button>

        </div>

      }

    </div>


<pagination-controls  id="products"
                      (pageChange)="pageChanged($event)"
                     
                      >
</pagination-controls>









  </div>
</section>

