<nav class="bg-gray-200 border-b border-default fixed top-0 start-0 z-20 w-full">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4">
    
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
       <img class="w-28" src="/assets/images/imageslogo.png" alt="logo">
    </a>

    <button data-collapse-toggle="navbar-default" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-gray-300 transition"
      aria-controls="navbar-default" aria-expanded="false">
      
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
          d="M5 7h14M5 12h14M5 17h14" />
      </svg>
    </button>

    <div class="hidden w-full md:flex md:grow md:w-auto" id="navbar-default">

      @if (isLogin===true) {
        <ul class="ms-2 flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base md:flex-row md:space-x-3">

          <li>
            <a routerLink="/main/home"
               routerLinkActive="bg-gray-400 text-white"
               class="block py-2 px-3 rounded-md text-gray-700 md:py-1 md:px-2 hover:bg-gray-300 transition">
              Home
            </a>
          </li>

          <li>
            <a routerLink="/main/products"
               routerLinkActive="bg-gray-400 text-white"
               class="block py-2 px-3 rounded-md text-gray-700 md:py-1 md:px-2 hover:bg-gray-300 transition">
              Products
            </a>
          </li>

          <li>
            <a routerLink="/main/categories"
               routerLinkActive="bg-gray-400 text-white"
               class="block py-2 px-3 rounded-md text-gray-700 md:py-1 md:px-2 hover:bg-gray-300 transition">
              Categories
            </a>
          </li>

          <li>
            <a routerLink="/main/brands"
               routerLinkActive="bg-gray-400 text-white"
               class="block py-2 px-3 rounded-md text-gray-700 md:py-1 md:px-2 hover:bg-gray-300 transition">
              Brand
            </a>
          </li>

          <li>
            <a routerLink="/main/cart"
               routerLinkActive="bg-gray-400 text-white"
               class="block py-2 px-3 rounded-md text-gray-700 md:py-1 md:px-2 hover:bg-gray-300 transition">
              Cart
            </a>
          </li>

        </ul>
      }

      
      
      <ul class="ms-auto flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base md:flex-row md:space-x-3">

       
        
        <li>
          <a class="block py-2 px-3 text-gray-700 hover:bg-gray-300 rounded-full transition">
            <i class="fab fa-facebook"></i>
          </a>
        </li>

        <li>
          <a class="block py-2 px-3 text-gray-700 hover:bg-gray-300 rounded-full transition">
            <i class="fab fa-youtube"></i>
          </a>
        </li>

        <li>
          <a class="block py-2 px-3 text-gray-700 hover:bg-gray-300 rounded-full transition">
            <i class="fab fa-whatsapp"></i>
          </a>
        </li>

        <li>
          <a class="block py-2 px-3 text-gray-700 hover:bg-gray-300 rounded-full transition">
            <i class="fab fa-instagram"></i>
          </a>
        </li>

        @if (isLogin===false) {
          <li>
            <a routerLink="/login"
               routerLinkActive="bg-gray-400 text-white"
               class="block py-2 px-3 rounded-md text-gray-700 md:py-1 md:px-2 hover:bg-gray-300 transition">
              Login
            </a>
          </li>

          <li>
            <a routerLink="/register"
               routerLinkActive="bg-gray-400 text-white"
               class="block py-2 px-3 rounded-md text-gray-700 md:py-1 md:px-2 hover:bg-gray-300 transition">
              Register
            </a>
          </li>
        }

        @else {
          <li>
            <a (click)="signout()"
               class="block py-2 px-3 rounded-md text-gray-700 md:py-1 md:px-2 hover:bg-gray-300 transition cursor-pointer">
              SignOut
            </a>
          </li>
        }

      </ul>

    </div>
  </div>
</nav>