/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body{
      font-family: "Ubuntu", sans-serif;
}

@layer utilities {
  .container {
    margin: 0 auto;
  }
}

/* Components */
@layer components {
  .btn-main {
    @apply bg-green-600 py-[7px] px-5 border border-gray-300 
           rounded-[5px] text-white cursor-pointer 
           hover:bg-green-700 transition;
  }

  .card {
    @apply border border-gray-200 shadow rounded p-2 overflow-hidden ;
  }
 .main-input{
  @apply bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-xl focus:ring-green-600 focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body
 }

.label{
  @apply block mb-1.5 text-sm font-medium text-heading
}

}
